body{
  background: url("../images/mistyforest.jpg") center/cover no-repeat;
  min-height: 100%;
  font-family: "Della Respira", serif;
  position: relative; }
body #word_display, body #guess_display, body #new_game_display, body #house_display, body #homepage_heading_display, body #house_heading_display, body #modal_button, #sizing_message{
  position: relative;
  z-index: 2; }
body #overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }
#header h1 {
  font-weight: 450;}

#swordsandshield{
  height: 250px;
}

#sword_card, #choose_house_card{
  border: 4px solid white;
}

#choose_house_card_header{
  border-bottom: 4px solid white;
}

#sword_card_footer, #choose_house_card_footer{
  border-top: 4px solid white;
}

#tablet_image{
  height: 350px;
}

.sigils{
  height: 150px;
  opacity: 0.6;
}

.active{
  opacity: 1;
}

#home_link{
  text-decoration: none;
}

#chosen_house_sigil_left, #chosen_house_sigil_right{
  height: 90px;
}

#chosen_house{
  border: solid white;
  border-width: 4px 0 4px 0;
}

#main_body_container{
  position: relative;
  z-index: 1;
}

.letters:active{
  transform: scale(0.90);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0,);
}

.hangman{
  height: 110px;
}

.dead{
  height: 95px;
  opacity: 0.7;
}

.fire{
  height: 80px;
  opacity: 0.7;
}

.logs{
  height: 85px;
}

#winning_modal_sigil, #losing_modal_sigil{
  height: 150px;
}

#winning_modal_body, #losing_modal_body, #home_modal_body{
  border: 4px solid white;  
}

#winning_modal_footer, #losing_modal_footer, #home_modal_footer{
  border-top: 4px solid white;
}


@media(min-width: 1200px){
  #main_body_container{
    margin-left: 12%;
    margin-right: 12%;
  }

  .letters{
    border: 4px solid white;
    width: 80px;
  }

  .correctly_guessed_letters{
    color: #cdd0d3;
    border: 4px solid #cdd0d3;
    width: 80px;
    opacity: 0.5;
  }
  
  .incorrectly_guessed_letters{
    color: #dd3444;
    border: 4px solid #dd3444;
    width: 80px;
    opacity: 0.5;
  }
}

@media(min-width: 992px) and (max-width: 1199.98px){
  #main_body_container{
    margin-left: 4%;
    margin-right: 4%;
  }

  .letters{
    border: 4px solid white;
    width: 75px;
  }

  .correctly_guessed_letters{
    color: #cdd0d3;
    border: 4px solid #cdd0d3;
    width: 75px;
    opacity: 0.5;
  }
  
  .incorrectly_guessed_letters{
    color: #dd3444;
    border: 4px solid #dd3444;
    width: 75px;
    opacity: 0.5;
  }
}

@media(min-width: 1200px){
  .sigils{
    height: 150px;
    opacity: 0.6;
  }
  .active{
    opacity: 1;
  }
}

@media(min-width: 992px) and (max-width: 1199.98px){
  .sigils{
    height: 135px;
    opacity: 0.6;
  }
  .active{
    opacity: 1;
  }
}