body{
    background: url("images/insidewinterfell.jpeg") center/cover no-repeat;
    min-height: 900px;
    font-family: "Della Respira", serif;
    position: relative; }
    body #word_display, body #guess_display, body #new_game_display, body #house_display{
        position: relative;
        z-index: 2; }
      body #overlay {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1; }
        #header h1 {
          font-weight: 450;}

#main_body_container{
  position: relative;
  z-index: 1;
}

.letters{
  border: 4px solid white;
  width: 95px;
}